.my-container {
    max-width: 400px !important;
}

input:focus {
    border-bottom: 2px solid #673ab7 !important;
    box-shadow   : none !important;
}

.navBar {
    margin-bottom: 40px;
}

.navBar a {
    padding-left: 16px;
}

.navBar ul button {
    margin-right: 16px;
}

.displayFlex {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.imgLogo {
    margin-top: 25px;
    border    : 1px solid;
}

.createQuoteForm {
    display       : flex;
    flex-direction: column;
    gap           : 5px;
}

.createQuoteForm button {
    align-self: flex-end;
    font-size : 20px;
}

.loading {
    text-align: center;
    color     : tomato;
}

.pageNotFound {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}